<div>

    <h2>Lista de celebridades</h2>

    <ul>

       {{#each this.allCelebs}}
        <li>    
            <h4>{{this.name}}</h4>
            <a href="/celebrities/{{this._id}}/edit">Editar</a>
        </li>

       {{/each}}


    </ul>
</div>