<div>

    <h3>Añadir nueva celebridad</h3>
    <form action="/celebrities/create" method="post">
        <div>
        <label for="name">Nombre</label>
        <input type="text" name="name" >
        </div>
         <div>
        <label for="occupation">Ocupación</label>
        <input type="text" name="occupation" >
        </div>
        <div>
        <label for="catchPhrase">Frase usada</label>
        <input type="text" name="catchPhrase" >
        </div>
        <button>Añadir</button>
    </form>
</div>