<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <ul>
      <li><a href="/celebrities/create">Añadir Famoso</a></li>
      <li><a href="/celebrities/celebrities">Ver Famosos</a></li>
       <li><a href="/celebrities/edit">Editar Famoso</a></li>
      <li><a href="/movies/create">Añadir Películas</a></li>
      <li><a href="/movies/movies">Ver Películas</a></li>
     
    </ul>


    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>